.bg-grupo1 {
    background: linear-gradient(135deg, rgba(85,68,173,1) 5%, rgba(72,57,161,1) 62%, rgba(110,90,199,1) 95%);
}

.btn-copy {
    background-color: #622AFF;
}

.nav-item.btn-pressed {
    background-color: #420D7F;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #221f27 inset;
    /* Remove link styles as they might interfere */
    color: inherit !important; /* Inherit text color from parent */
    text-decoration: none !important; /* Remove underline */
  }

.btn:hover,
.nav-link:hover {
    background-color: #7563F6;
    color: #000000;
}

.btn:active:not(.btn-pressed) {
    background-color: #420D7F; /* Mantén el color original del botón presionado */
  }