.bg-grupo1 {
    background: linear-gradient(135deg, rgba(85,68,173,1) 5%, rgba(72,57,161,1) 62%, rgba(110,90,199,1) 95%);
}

.btn-copy {
    background-color: #622AFF;
}

.btn-pressed {
    background-color: #420D7F;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #221f27 inset;
}